<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.may1722.t_go">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="ACCESS_FINE_LOCATION">android.permission.ACCESS_FINE_LOCATION</permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAQvRIleFD56bzKmnNxrte9QS46-JHsgKM"/>

        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.UpdateUserInfoActivity" />
        <activity android:name=".ui.JobBoardActivity" />
        <activity android:name=".ui.AddItemActivity" />
        <activity android:name=".ui.ReviewBoardActivity" />
        <activity
            android:name=".ui.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.SignUpActivity" />
        <activity android:name=".ui.CurrentJobs" />
        <activity android:name=".ui.JobSubmitActivity" />
        <activity android:name=".ui.SubmitReviewActivity" />
        <activity android:name=".ui.JobDetailsActivity"/>
        <activity android:name=".ui.ChatActivity"
            android:screenOrientation="portrait"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
                  android:screenOrientation="portrait" />
        <activity android:name=".ui.JobCompleteActivity" />
        <activity android:name=".ui.MapsActivity" />
        <activity android:name=".ui.MailActivity" />
        <activity android:name=".ui.ApplyActivity"></activity>
    </application>

</manifest>